<nav class="panel">
  <p class="panel-heading">
    Who to follow
  </p>

  <div class="f-list py-2 px-2">
    <article class="level">
      <div class="level-left">
        <p class="image is-48x48">
          <img class="tweety-profile" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
        <div class="content pl-2">
          <strong>John Smith</strong> <br> <small>@johnsmith</small>
        </div>
      </div>
      <div class="level-right">
        <%= link_to nil, 'follow', class: 'button is-info is-small' %>
      </div>
    </article>
    <article class="level">
      <div class="level-left">
        <p class="image is-48x48">
          <img class="tweety-profile" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
        <div class="content pl-2">
          <strong>John Smith</strong> <br> <small>@johnsmith</small>
        </div>
      </div>
      <div class="level-right">
        <%= link_to nil, 'follow', class: 'button is-info is-small' %>
      </div>
    </article>
    <article class="level">
      <div class="level-left">
        <p class="image is-48x48">
          <img class="tweety-profile" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
        <div class="content pl-2">
          <strong>John Smith</strong> <br> <small>@johnsmith</small>
        </div>
      </div>
      <div class="level-right">
        <%= link_to nil, 'follow', class: 'button is-info is-small' %>
      </div>
    </article>
    <article class="level">
      <div class="level-left">
        <p class="image is-48x48">
          <img class="tweety-profile" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
        <div class="content pl-2">
          <strong>John Smith</strong> <br> <small>@johnsmith</small>
        </div>
      </div>
      <div class="level-right">
        <%= link_to nil, 'follow', class: 'button is-info is-small' %>
      </div>
    </article>
    <article class="level">
      <div class="level-left">
        <p class="image is-48x48">
          <img class="tweety-profile" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
        <div class="content pl-2">
          <strong>John Smith</strong> <br> <small>@johnsmith</small>
        </div>
      </div>
      <div class="level-right">
        <%= link_to nil, 'follow', class: 'button is-info is-small' %>
      </div>
    </article>
  
  </div>
</nav>