<!DOCTYPE html>
<html>
  <head>
    <title>Twittier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://kit.fontawesome.com/9b6ee7cdf7.js' %>
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "nav-item has-text-white is-size-4", role: "button" do %>
          <h1 class="my-2 ml-5" >Twittier</h1>
        <% end %>

        <%= link_to root_path, class: "navbar-burger burger", role: "button", "aria-label" => "menu", "aria-expanded" => "false", "data-target" => "navbarBasicExample" do %>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        <% end %>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to new_tweety_path, class: "button is-light has-text-info" do %>
                <strong>New tweety</strong>
              <% end %>
              <%= link_to nil, class: "button is-info has-text-white" do %>
                Log in
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav> 

    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>  

    <%= yield %>
  </body>
</html>
